.jonnitto-assetlist {
	font-family: $font-family-sans-serif;
	font-size: $font-size-sm;

	.assets-list--ul {
		text-align: center;
		justify-content: center;
	}

	.assets-list--li {
		background-color: $gray-100;
		min-width: 200px;
		@extend .btn;
		list-style: none;
		margin: 20px;
	}

	.assets-list--item-thumbnail {
		.assets-list--figure {
			img {
				display: inline-block;
				transform: translate(-50%,-50%);
			}
		}
	}
}